Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

# para ignorar arquivos gerados pela aplicação de irem pro repo
src/main/resources/gerado/*.csv
